################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ms1/ms1.sln
# Visual Studio
.vs/
bin/
obj/

# User-specific
*.user
*.suo
